In [1]:
import pandas as pd
import numpy as np

### Data Cleaning
* Combine necessary datasets
* Clean `Song` column
* Format `Date` column to reference the decade only
* Finalize by combining all data sets

In [28]:
top_songs_50s = pd.read_csv('../data/top_1950.csv', index_col=0)
top_songs_58_69 = pd.read_csv('../data/top_1958_69.csv', index_col=0)

top_songs_50s.head()

                Date               Artist                               Song
0    January 7, 1950           Gene Autry  "Rudolph, The Red-nosed Reindeer"
1   January 14, 1950  The Andrews Sisters             "I Can Dream, Can't I"
2  February 11, 1950    The Ames Brothers                          "Rag Mop"
3  February 18, 1950            Red Foley      "Chattanoogie Shoe Shine Boy"
4     March 18, 1950        Teresa Brewer             "Music! Music! Music!"

Combining the two data sets

In [30]:
all_50s_songs = top_songs_50s.append(top_songs_58_69, ignore_index=True)
all_50s_songs.shape

(320, 3)

In [31]:
# make column names lowercase for ease

cols = all_50s_songs.columns
cols = [c.lower() for c in cols]

# reassign columns back

all_50s_songs.columns = cols
all_50s_songs.columns

Index(['date', 'artist', 'song'], dtype='object')

Cleaning the `song` column

In [32]:
all_50s_songs

,date,artist,song
0,"January 7, 1950",Gene Autry,"""Rudolph, The Red-nosed Reindeer"""
1,"January 14, 1950",The Andrews Sisters,"""I Can Dream, Can't I"""
2,"February 11, 1950",The Ames Brothers,"""Rag Mop"""
3,"February 18, 1950",Red Foley,"""Chattanoogie Shoe Shine Boy"""
4,"March 18, 1950",Teresa Brewer,"""Music! Music! Music!"""
...,...,...,...
315,"November 8, 1969",The 5th Dimension,"""Wedding Bell Blues"""
316,"November 29, 1969",The Beatles,"""Come Together""/""Something"""
317,"December 6, 1969",Steam,"""Na Na Hey Hey Kiss Him Goodbye"""
318,"December 20, 1969","Peter, Paul & Mary","""Leaving on a Jet Plane"""
319,"December 27, 1969",Diana Ross & the Supremes,"""Someday We'll Be Together"""

In [33]:
all_50s_songs['song'][0]

'"Rudolph, The Red-nosed Reindeer"'

In [35]:
all_50s_songs['song'] = all_50s_songs['song'].apply(lambda x: x.rstrip('"'))
all_50s_songs['song'] = all_50s_songs['song'].apply(lambda x: x.lstrip('"'))
all_50s_songs['song'][:50]

0                       Rudolph, The Red-nosed Reindeer
1                                  I Can Dream, Can't I
2                                               Rag Mop
3                           Chattanoogie Shoe Shine Boy
4                                  Music! Music! Music!
5         If I Knew You Were Comin' I'd've Baked a Cake
6                                   The Third Man Theme
7                                             Mona Lisa
8                               Goodnight Irene" (1950)
9                                         Harbor Lights
10                                            The Thing
11                                  The Tennessee Waltz
12                                                   If
13                                           Be My Love
14                                    How High The Moon
15                                    Too Young" (1951)
16                                   Come On-a My House
17                                       Because Of You
18                                     Cold, Cold Heart
19                                    Sin (It's No Sin)
20                                                  Cry
21                                     Wheel Of Fortune
22                                   Blue Tango" (1952)
23                                     Here In My Heart
24                                             Delicado
25                           Auf Wiederseh'n Sweetheart
26                                     You Belong To Me
27                               I Went To Your Wedding
28                       It's In The Book (parts 1 & 2)
29                             Why Don't You Believe Me
30                      I Saw Mommy Kissing Santa Claus
31                 Don't Let the Stars Get in Your Eyes
32                          Till I Waltz Again With You
33                             The Doggie In The Window
34    The Song From Moulin Rouge (Where Is Your Hear...
35                               I'm Walking Behind You
36                  Vaya Con Dios (May God Be With You)
37                          St. George And The Dragonet
38                                       Rags To Riches
39                           Oh! My Pa-pa (O Mein Papa)
40                                          Secret Love
41                                     Make Love To Me!
42                                               Wanted
43                     Little Things Mean A Lot" (1954)
44                                              Sh-Boom
45                                            Hey There
46                                       This Ole House
47                                       I Need You Now
48                                          Mr. Sandman
49                                    Let Me Go, Lover!
Name: song, dtype: object

In [50]:
to_clean = all_50s_songs[all_50s_songs['song'].str.contains('"')]

to_clean_songs = to_clean['song'].to_list()
to_clean_songs

['Goodnight Irene" (1950)',
 'Too Young" (1951)',
 'Blue Tango" (1952)',
 'The Song From Moulin Rouge (Where Is Your Heart)" (1953)',
 'Little Things Mean A Lot" (1954)',
 'Cherry Pink And Apple Blossom White" (1955)',
 'Heartbreak Hotel" (1956)',
 'Don\'t Be Cruel" / "Hound Dog',
 'All Shook Up" (1957)',
 'Volare (Nel blu dipinto di blu)" (1958)',
 'The Battle of New Orleans" (1959)',
 'Theme from \'A Summer Place\'" (1960)',
 'Tossin\' and Turnin\'" (1961)',
 'Stranger on the Shore" (1962)',
 'Sugar Shack" (1963)',
 'I Want to Hold Your Hand" (1964)',
 'Ballad of the Green Berets" (1966)',
 'To Sir With Love" (1967)',
 'Hey Jude" (1968)',
 'Sugar, Sugar" (1969)',
 'Come Together"/"Something']

In [51]:
cleaned = []
for song in to_clean_songs:
    idx = song.index('"')
    new = song[:idx]
    cleaned.append(new)

cleaned

['Goodnight Irene',
 'Too Young',
 'Blue Tango',
 'The Song From Moulin Rouge (Where Is Your Heart)',
 'Little Things Mean A Lot',
 'Cherry Pink And Apple Blossom White',
 'Heartbreak Hotel',
 "Don't Be Cruel",
 'All Shook Up',
 'Volare (Nel blu dipinto di blu)',
 'The Battle of New Orleans',
 "Theme from 'A Summer Place'",
 "Tossin' and Turnin'",
 'Stranger on the Shore',
 'Sugar Shack',
 'I Want to Hold Your Hand',
 'Ballad of the Green Berets',
 'To Sir With Love',
 'Hey Jude',
 'Sugar, Sugar',
 'Come Together']

In [69]:
for i,row in all_50s_songs[all_50s_songs['song'].str.contains('"')].iterrows():
    old = row['song']
    idx = old.index('"')
    new = old[:idx]
    all_50s_songs['song'][i] = new
    all_50s_songs['song'][i] = all_50s_songs['song'][i]
    
all_50s_songs[all_50s_songs['song'].str.contains('"')]

Empty DataFrame
Columns: [date, artist, song]
Index: []

Format the `date` column

In [74]:
# make date column just the year
all_50s_songs['date'] = all_50s_songs['date'].apply(lambda x: x[-4:])

# make date column be int dtype
all_50s_songs['date'] = all_50s_songs['date'].astype('int64')
all_50s_songs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320 entries, 0 to 319
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    320 non-null    int64
 1   artist  320 non-null    object
 2   song    320 non-null    object
dtypes: int64(1), object(2)
memory usage: 7.6+ KB

In [76]:
# create a function to assign a decade to each song
def assign_decade(year):
    if (year >= 1950) and (year < 1960):
        return 1950
    elif (year >= 1960) and (year < 1970):
        return 1960
    elif (year >= 1970) and (year < 1980):
        return 1970
    elif (year >= 1980) and (year < 1990):
        return 1980
    elif (year >= 1990) and (year < 2000):
        return 1990
    elif (year >= 2000) and (year < 2010):
        return 2000
    elif year >= 2010:
        return 2010
    
all_50s_songs['decade'] = all_50s_songs['date'].apply(lambda x: assign_decade(x))
all_50s_songs

     date                     artist                             song  decade
0    1950                 Gene Autry  Rudolph, The Red-nosed Reindeer    1950
1    1950        The Andrews Sisters             I Can Dream, Can't I    1950
2    1950          The Ames Brothers                          Rag Mop    1950
3    1950                  Red Foley      Chattanoogie Shoe Shine Boy    1950
4    1950              Teresa Brewer             Music! Music! Music!    1950
..    ...                        ...                              ...     ...
315  1969          The 5th Dimension               Wedding Bell Blues    1960
316  1969                The Beatles                    Come Together    1960
317  1969                      Steam   Na Na Hey Hey Kiss Him Goodbye    1960
318  1969         Peter, Paul & Mary           Leaving on a Jet Plane    1960
319  1969  Diana Ross & the Supremes        Someday We'll Be Together    1960

[320 rows x 4 columns]

I'll drop the `date` column at the end.

#### Cleaning the other datasets

In [114]:
top_1970 = pd.read_csv('../data/top_1970.csv', index_col=0)
top_1980 = pd.read_csv('../data/top_1980.csv', index_col=0)
top_1990 = pd.read_csv('../data/top_1990.csv', index_col=0)
top_2000 = pd.read_csv('../data/top_2000.csv', index_col=0)
top_2010 = pd.read_csv('../data/top_2010.csv', index_col=0)

Combine the datasets.

In [115]:
all_songs = pd.concat([top_1970,top_1980,top_1990,top_2000,top_2010], ignore_index=True)
all_songs

,Date,Artist,Song
0,"January 3, 1970",B. J. Thomas,Raindrops Keep Fallin' On My Head
1,"January 31, 1970",The Jackson 5,I Want You Back
2,"February 7, 1970",Shocking Blue,Venus
3,"February 14, 1970",Sly & the Family Stone,Thank You (Falettinme Be Mice Elf Agin)
4,"February 28, 1970",Simon & Garfunkel,Bridge Over Troubled Water
...,...,...,...
864,"November 2, 2019",Lewis Capaldi,"""Someone You Loved"""
865,"November 9, 2019",Selena Gomez,"""Lose You to Love Me"""
866,"November 30, 2019",Post Malone,"""Circles"""
867,"December 14, 2019",The Weeknd,"""Heartless"""
868,"December 21, 2019",Mariah Carey,"""All I Want for Christmas Is You"""

In [116]:
# all cleaning steps

# make column headers lowercase
cols = all_songs.columns
cols = [c.lower() for c in cols]
all_songs.columns = cols

all_songs

,date,artist,song
0,"January 3, 1970",B. J. Thomas,Raindrops Keep Fallin' On My Head
1,"January 31, 1970",The Jackson 5,I Want You Back
2,"February 7, 1970",Shocking Blue,Venus
3,"February 14, 1970",Sly & the Family Stone,Thank You (Falettinme Be Mice Elf Agin)
4,"February 28, 1970",Simon & Garfunkel,Bridge Over Troubled Water
...,...,...,...
864,"November 2, 2019",Lewis Capaldi,"""Someone You Loved"""
865,"November 9, 2019",Selena Gomez,"""Lose You to Love Me"""
866,"November 30, 2019",Post Malone,"""Circles"""
867,"December 14, 2019",The Weeknd,"""Heartless"""
868,"December 21, 2019",Mariah Carey,"""All I Want for Christmas Is You"""

Some songs are missing for some reason, I'll need to find out what the song titles are.

In [117]:
all_songs[all_songs['song'].isnull()==True]

                  date            artist song
36   November 20, 1971       Isaac Hayes  NaN
160   January 24, 1976        Diana Ross  NaN
163  February 28, 1976   Rhythm Heritage  NaN
190      March 5, 1977  Barbra Streisand  NaN
202       July 2, 1977        Bill Conti  NaN
356   November 9, 1985        Jan Hammer  NaN

In [118]:
# checking to make sure records near the missing values are correct
all_songs.iloc[160:200,:]

,date,artist,song
160,"January 24, 1976",Diana Ross,NaN
161,"January 31, 1976",Ohio Players,Love Rollercoaster
162,"February 7, 1976",Paul Simon,50 Ways to Leave Your Lover
163,"February 28, 1976",Rhythm Heritage,NaN
164,"March 6, 1976",The Miracles,Love Machine
165,"March 13, 1976",The Four Seasons,"December 1963 (Oh, What a Night)"
166,"April 3, 1976",Johnnie Taylor,Disco Lady
167,"May 1, 1976",The Bellamy Brothers,Let Your Love Flow
168,"May 8, 1976",John Sebastian,Welcome Back
169,"May 15, 1976",The Sylvers,Boogie Fever
170,"May 22, 1976",Wings,Silly Love Songs
171,"May 29, 1976",Diana Ross,Love Hangover
172,"July 10, 1976",Starland Vocal Band,Afternoon Delight
173,"July 24, 1976",The Manhattans,Kiss and Say Goodbye
174,"August 7, 1976",Kiki Dee,Don't Go Breaking My Heart
175,"September 4, 1976",Bee Gees,You Should Be Dancing
176,"September 11, 1976",KC and the Sunshine Band,"(Shake, Shake, Shake) Shake Your Booty"
177,"September 18, 1976",Wild Cherry,Play That Funky Music
178,"October 9, 1976",Walter Murphy and the Big Apple Band,A Fifth of Beethoven
179,"October 16, 1976",Rick Dees and His Cast of Idiots,Disco Duck
180,"October 23, 1976",Chicago,If You Leave Me Now
181,"November 6, 1976",Steve Miller Band,Rock'n Me
182,"November 13, 1976",Rod Stewart,Tonight's the Night (Gonna Be Alright)
183,"January 8, 1977",Marilyn McCoo,You Don't Have to Be a Star (To Be in My Show)
184,"January 15, 1977",Leo Sayer,You Make Me Feel Like Dancing
185,"January 22, 1977",Stevie Wonder,I Wish
186,"January 29, 1977",Rose Royce,Car Wash
187,"February 5, 1977",Mary MacGregor,Torn Between Two Lovers
188,"February 19, 1977",Manfred Mann's Earth Band,Blinded by the Light
189,"February 26, 1977",Eagles,New Kid in Town
190,"March 5, 1977",Barbra Streisand,NaN
191,"March 26, 1977",Daryl Hall and John Oates,Rich Girl
192,"April 9, 1977",ABBA,Dancing Queen
193,"April 16, 1977",David Soul,Don't Give Up on Us
194,"April 23, 1977",Thelma Houston,Don't Leave Me This Way
195,"April 30, 1977",Glen Campbell,Southern Nights
196,"May 7, 1977",Eagles,Hotel California
197,"May 14, 1977",Leo Sayer,When I Need You
198,"May 21, 1977",Stevie Wonder,Sir Duke
199,"June 11, 1977",KC and the Sunshine Band,I'm Your Boogie Man

In [119]:
# looks like I messed up cleaning songs that are themes
all_songs.loc[36,'song'] = "Theme from Shaft"
all_songs.loc[160,'song'] = "Theme from Mahogany (Do You Know Where You're Going To)"
all_songs.loc[163,'song'] = "Theme From S.W.A.T."
all_songs.loc[190,'song'] = "Love Theme From A Star Is Born (Evergreen)"
all_songs.loc[202,'song'] = "Gonna Fly Now (Theme From Rocky)"
all_songs.loc[356,'song'] = "Miami Vice Theme"

all_songs[all_songs['song'].isnull()==True]

Empty DataFrame
Columns: [date, artist, song]
Index: []

In [121]:
# for i,row in all_songs[all_songs['song'].str.contains('"')].iterrows():
#     old = row['song']
#     idx = old.index('"')
#     new = old[:idx]
#     all_songs['song'][i] = new
#     all_songs['song'][i] = all_songs['song'][i]

# check
all_songs[all_songs['song'].str.contains('"')]['song']

624                  "What a Girl Wants"
625                 "I Knew I Loved You"
626              "Thank God I Found You"
627                             "Amazed"
628                        "Say My Name"
                     ...
864                  "Someone You Loved"
865                "Lose You to Love Me"
866                            "Circles"
867                          "Heartless"
868    "All I Want for Christmas Is You"
Name: song, Length: 245, dtype: object

In [122]:
# checking to make sure I didn't accidentally create missing values
all_songs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 869 entries, 0 to 868
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    869 non-null    object
 1   artist  869 non-null    object
 2   song    869 non-null    object
dtypes: object(3)
memory usage: 20.5+ KB

In [123]:
# make date column just the year
all_songs['date'] = all_songs['date'].apply(lambda x: x[-4:])

# make date column be int dtype
all_songs['date'] = all_songs['date'].astype('int64')
all_songs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 869 entries, 0 to 868
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    869 non-null    int64
 1   artist  869 non-null    object
 2   song    869 non-null    object
dtypes: int64(1), object(2)
memory usage: 20.5+ KB

In [124]:
# assigning the decade label
all_songs['decade'] = all_songs['date'].apply(lambda x: assign_decade(x))
all_songs

,date,artist,song,decade
0,1970,B. J. Thomas,Raindrops Keep Fallin' On My Head,1970
1,1970,The Jackson 5,I Want You Back,1970
2,1970,Shocking Blue,Venus,1970
3,1970,Sly & the Family Stone,Thank You (Falettinme Be Mice Elf Agin),1970
4,1970,Simon & Garfunkel,Bridge Over Troubled Water,1970
...,...,...,...,...
864,2019,Lewis Capaldi,"""Someone You Loved""",2010
865,2019,Selena Gomez,"""Lose You to Love Me""",2010
866,2019,Post Malone,"""Circles""",2010
867,2019,The Weeknd,"""Heartless""",2010
868,2019,Mariah Carey,"""All I Want for Christmas Is You""",2010

In [125]:
all_decade_songs = all_50s_songs.append(all_songs, ignore_index=True)

all_decade_songs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189 entries, 0 to 1188
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1189 non-null   int64
 1   artist  1189 non-null   object
 2   song    1189 non-null   object
 3   decade  1189 non-null   int64
dtypes: int64(2), object(2)
memory usage: 37.3+ KB

In [126]:
all_songs

,date,artist,song,decade
0,1970,B. J. Thomas,Raindrops Keep Fallin' On My Head,1970
1,1970,The Jackson 5,I Want You Back,1970
2,1970,Shocking Blue,Venus,1970
3,1970,Sly & the Family Stone,Thank You (Falettinme Be Mice Elf Agin),1970
4,1970,Simon & Garfunkel,Bridge Over Troubled Water,1970
...,...,...,...,...
864,2019,Lewis Capaldi,"""Someone You Loved""",2010
865,2019,Selena Gomez,"""Lose You to Love Me""",2010
866,2019,Post Malone,"""Circles""",2010
867,2019,The Weeknd,"""Heartless""",2010
868,2019,Mariah Carey,"""All I Want for Christmas Is You""",2010

In [129]:
all_songs.loc[0,'song']

"Raindrops Keep Fallin' On My Head"

In [134]:
all_decade_songs[all_decade_songs['song'].str.contains('"')]

,date,artist,song,decade
974,2001,Nickelback,"How You Remind Me""[C]",2000
984,2003,50 Cent,"In da Club""[D]",2000
995,2004,Usher featuring Lil Jon and Ludacris,"Yeah!""[E]",2000
1007,2005,Mariah Carey,"We Belong Together""â€ [F]",2000
1018,2006,Daniel Powter,"Bad Day""[G]",2000
1029,2006,BeyoncÃ©,"Irreplaceable""[H]",2000
1047,2008,Flo Rida featuring T-Pain,"Low""[I]",2000
1066,2009,The Black Eyed Peas,"Boom Boom Pow""[J]",2000
1073,2010,Kesha,"Tik Tok"" [3]",2010
1096,2011,Adele,"Rolling in the Deep"" [28]",2010
1108,2012,Gotye featuring Kimbra,"Somebody That I Used to Know"" [41]",2010
1115,2013,Macklemore & Ryan Lewis featuring Wanz,"Thrift Shop"" [49]",2010
1127,2014,Pharrell Williams,"Happy"" [62]",2010
1134,2015,Mark Ronson featuring Bruno Mars,"Uptown Funk"" [70]",2010
1143,2016,Justin Bieber,"Love Yourself"" [80]",2010
1154,2017,Ed Sheeran,"Shape of You"" [92]",2010
1164,2018,Drake,"God's Plan"" [103]",2010
1179,2019,Lil Nas X solo or featuring Billy Ray Cyrus2,"Old Town Road"" [119]",2010

In [135]:
all_decade_songs['song'] = all_decade_songs['song'].apply(lambda x: x.rstrip('"'))
# all_decade_songs['song'] = all_decade_songs['song'].apply(lambda x: x.lstrip('"'))
all_decade_songs['song'][974:]

974               How You Remind Me"[C]
975                      Always on Time
976                      Ain't It Funny
977                             Foolish
978                        Hot in Herre
                     ...
1184                  Someone You Loved
1185                Lose You to Love Me
1186                            Circles
1187                          Heartless
1188    All I Want for Christmas Is You
Name: song, Length: 215, dtype: object

In [137]:
for i,row in all_decade_songs[all_decade_songs['song'].str.contains('"')].iterrows():
    old = row['song']
    idx = old.index('"')
    new = old[:idx]
    all_decade_songs['song'][i] = new
    all_decade_songs['song'][i] = all_decade_songs['song'][i]

# check
all_decade_songs[all_decade_songs['song'].str.contains('"')]

C:\Users\deand\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\deand\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Empty DataFrame
Columns: [date, artist, song, decade]
Index: []

In [139]:
all_decade_songs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189 entries, 0 to 1188
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1189 non-null   int64
 1   artist  1189 non-null   object
 2   song    1189 non-null   object
 3   decade  1189 non-null   int64
dtypes: int64(2), object(2)
memory usage: 37.3+ KB

In [140]:
all_decade_songs.drop('date', axis=1, inplace=True)
all_decade_songs

                   artist                             song  decade
0              Gene Autry  Rudolph, The Red-nosed Reindeer    1950
1     The Andrews Sisters             I Can Dream, Can't I    1950
2       The Ames Brothers                          Rag Mop    1950
3               Red Foley      Chattanoogie Shoe Shine Boy    1950
4           Teresa Brewer             Music! Music! Music!    1950
...                   ...                              ...     ...
1184        Lewis Capaldi                Someone You Loved    2010
1185         Selena Gomez              Lose You to Love Me    2010
1186          Post Malone                          Circles    2010
1187           The Weeknd                        Heartless    2010
1188         Mariah Carey  All I Want for Christmas Is You    2010

[1189 rows x 3 columns]

In [141]:
all_decade_songs.to_csv('../data/all_decade_songs.csv', index=False)